In [12]:
import pandas as pd
from PIL import Image
from IPython.display import display

In [13]:
df = pd.read_csv('products_clean.csv')
outfit = pd.read_csv('outfit_data.csv')

In [14]:
df.head()

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename,fabric_C-COMPLEMENTOS,fabric_J-JEANS,fabric_K-CIRCULAR,fabric_L-PIEL,fabric_O-POLIPIEL,fabric_P-PLANA,fabric_T-TRICOT
0,41085800-02,2,OFFWHITE,WHITE,Female,Adult,SHE,Bottoms,Trousers & leggings,Trousers,Trousers,datathon/images/2019_41085800_02.jpg,0,0,0,0,0,1,0
1,53000586-TO,52,TEJANO OSCURO,BLUE,Female,Adult,SHE,Bottoms,Jeans,Jeans,Jeans,datathon/images/2019_53000586_TO.jpg,0,1,0,0,0,0,0
2,53030601-81,81,ROSA PASTEL,PINK,Female,Adult,SHE,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53030601_81.jpg,0,0,0,0,0,1,0
3,53050730-15,15,MOSTAZA,YELLOW,Female,Adult,SHE,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53050730_15.jpg,0,0,0,0,0,1,0
4,53070773-70,70,ROJO,RED,Female,Adult,SHE,Tops,Shirts,Shirt,Shirt,datathon/images/2019_53070773_70.jpg,0,0,0,0,0,1,0

In [15]:
df_c = pd.merge(outfit, df, how='left', left_on='cod_modelo_color', right_on='cod_modelo_color')

In [18]:
df_c.head()

,cod_outfit,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename,fabric_C-COMPLEMENTOS,fabric_J-JEANS,fabric_K-CIRCULAR,fabric_L-PIEL,fabric_O-POLIPIEL,fabric_P-PLANA,fabric_T-TRICOT
0,1,51000622-02,2.0,OFFWHITE,WHITE,Female,Adult,SHE,Tops,Tops,Tops,Top,datathon/images/2019_51000622_02.jpg,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,43067759-01,1.0,BLANCO,WHITE,Female,Adult,SHE,Bottoms,Skirts and shorts,Skirts,Skirt,datathon/images/2019_43067759_01.jpg,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,53060518-02,2.0,OFFWHITE,WHITE,Female,Adult,SHE,"Accesories, Swim and Intimate",Accessories,Footwear,Sandals,datathon/images/2019_53060518_02.jpg,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,53030594-08,8.0,BEIGE,WHITE,Female,Adult,SHE,"Accesories, Swim and Intimate",Accessories,Bags,Handbag,datathon/images/2019_53030594_08.jpg,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,43077762-01,1.0,BLANCO,WHITE,Female,Adult,SHE,"Accesories, Swim and Intimate",Accessories,Jewellery,Necklace,datathon/images/2019_43077762_01.jpg,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df[df['cod_modelo_color'] == '51000622-02']

In [49]:
post_list = {}

for index, row in df.iterrows():
    cod_modelo_color = row['cod_modelo_color']

    outs_appear = set(outfit[outfit['cod_modelo_color'] == cod_modelo_color]['cod_outfit'].unique())

    # Inicializar el conjunto sin incluir el cod_modelo_color actual
    post_list[cod_modelo_color] = set()

    for num in outs_appear:
        products_in_outfit = set(outfit[outfit['cod_outfit'] == num]['cod_modelo_color'])
        products_in_outfit.discard(cod_modelo_color)
        post_list[cod_modelo_color].update(products_in_outfit)

In [50]:
post_list['51000622-02']

{'43063724-OR',
 '43067759-01',
 '43075794-OR',
 '43077762-01',
 '53003778-OR',
 '53010582-TM',
 '53015780-99',
 '53030594-08',
 '53060518-02',
 '53073728-99'}

In [38]:
outfit[outfit['cod_modelo_color'] =='51000622-02']

   cod_outfit cod_modelo_color
0           1      51000622-02
7        2086      51000622-02

In [41]:
outfit[outfit['cod_outfit'] == 1]

   cod_outfit cod_modelo_color
0           1      51000622-02
1           1      43067759-01
2           1      53060518-02
3           1      53030594-08
4           1      43077762-01
5           1      43063724-OR
6           1      43075794-OR

In [42]:
outfit[outfit['cod_outfit'] == 2086]

    cod_outfit cod_modelo_color
7         2086      51000622-02
8         2086      53003778-OR
9         2086      53010582-TM
10        2086      53073728-99
11        2086      53015780-99